.lawyer--details {
    min-height: 100vh;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lawyer--container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.lawyer--container_info {
    background-color: var(--color-golden);
    font-family: var(--font-base);
    font-weight: 600;
    width: 60%;
}

.lawyer--details_img {
    padding-top: 1rem;
    width: 365px;
    height: 560px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.lawyer--details_row h1 {
    font-size: 2rem;
    font-weight: bolder;
}

.lawyer--details_row p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-base);
    padding: 2rem 4rem;
}

.calendar p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--color-golden);
    font-weight: bold;
}

.btn-calendar {
    display: flex;
    margin-top: 2rem;
}

.btn-calendar button {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--color-golden);
    border: none;
    padding: 0.5rem 1rem;
}

.lawyer--details_btn {
    display: flex;
    justify-content: center;
}

.lawyer--details_btn button {
    background-color: #c4964b;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}

.lawyer--details_commentpost {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;
}

.lawyer--details_commentpost h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
}

.lawyer--details_comment {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    border: solid 1px var(--color-golden);
    padding: 2rem 4rem;
}

.lawyer--details_comment img {
    width: 45px;
}

.lawyer--details_comment input {
    width: 90%;
    height: 45px;
}

.lawyer--details_comment button {
    border: none;
    background-color: var(--color-golden);
    height: 100%;
    padding: 0.3rem;
    font-weight: bold;
    font-family: var(--font-base);
    border-radius: 10px;
}

.lawyer--details_commentget {
    margin-top: 2rem;
    border: solid 1px var(--color-golden);
    padding: 2rem 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.lawyer--details_commentget img {
    width: 45px;
}

.lawyer--details_commentget-info {
    display: flex;
    flex-direction: column;
}

.lawyer--details_commentget-info h3,
.lawyer--details_commentget-info h6 {
    color: var(--color-golden);
    font-family: var(--font-base);
    font-size: 1.4rem;
}

.lawyer--details_commentget-info p {
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 1.2rem;
}

.commentget--info_btn {
    display: flex;
    gap: 0.5rem;
}

.commentget--info_btn button {
    border: none;
    background-color: var(--color-golden);
    padding: 0.3rem;
    font-weight: bold;
    font-family: var(--font-base);
    border-radius: 10px;
}

@media screen and (max-width: 1350px) {
    .lawyer--container {
        flex-direction: column;
        border-radius: 0;
    }
    .lawyer--details {
        height: 100%;
    }
    .lawyer--container_info {
        border-radius: 0;
    }
}

@media screen and (max-width: 800px) {
    .btn-calendar {
        flex-wrap: wrap;
    }
    .lawyer--container_info {
        width: 100%;
    }
    .lawyer--details_comment {
        flex-direction: column;
        padding: 2rem 0;
    }
    .lawyer--details_commentget {
        flex-direction: column;
        padding: 2rem 0;
        text-align: center;
    }
    .lawyer--details_img {
        padding-top:0;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}