.card--lawyer {
    border: none;
    background: transparent;
    position: relative;
}

.link--card_lawyer {
    text-decoration: none;
    color: white;
}

.card-img-top {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.95;
}


.card-body {
    text-align: center;
    width: 100%;
    margin-top: 17rem;
    letter-spacing: 0.3rem;
}

.card-body h4{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #c4964b;
    position: relative;
}

.card-body h5{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #c4964b;
    position: relative;
}

.card--btn {
    background-color: #c4964b;
    border: none;
}

.card--btn:hover {
    background-color: #c4964b;
    border: none;
    transform: scale(1.1);
    transition: 0.5s ease;
}