body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
}

li {
    list-style-type: none;
}

.App {
    font-family: 'Roboto Slab', serif;
}